@import '../../styles/settings.scss';

.columnForm {
    justify-content: center;
    padding: 10px;

}

.columnMargin {
    margin: 10px;
}

@media (max-width: 768px) {
    form , span {
        width: 90%;
        margin: 0;
    }
}
